{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speech to Text</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Speech to Text</h1>
    
    <button id="recordButton">Start Recording</button>
    <button id="stopButton" disabled>Stop Recording</button>
    
    <h2>Or Upload a Pre-recorded File</h2>
    <input type="file" id="audioUpload" accept="audio/*">
    <button id="uploadButton" disabled>Upload Recording</button>

    <h2>Extra Notes</h2>
    <textarea id="notes" rows="4" cols="50"></textarea>

    
    <div id="transcript"></div>
    <div id="medical_note"></div>
    <div id="extra_notes"></div>

    <!-- Include the CSRF token in a hidden input -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <!-- Link to the external JavaScript file -->
    <script src="{% static 'js/recorder.js' %}"></script>
</body>
</html>